body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.square {
    width: 40px;
    height: 40px;
    background-color: black;
    flex-shrink: 0;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
}

.resetButton {
    margin-bottom: 40px;
    padding: 8px 12px;
    background-color: black;
    color: white;
}