body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.square {
    width: 32.5px;
    height: 32.5px;
    background-color: black;
    flex-shrink: 0;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 520px;
    height: 520px;
    border: 1px white solid;
}

 button{
    margin-bottom: 40px;
    padding: 8px 12px;
    background-color: white;
    color: black;
    font-size: 14px;
}

h2 {
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
